.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;
  color: #004d40;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button {
  font-family: "Roboto", sans-serif;
}
